# Sensitive Environment Variable
.env
.env.*

# Virtual Environment
env/
venv/
.venv/

# Python Cache files
__pycache__
*.pyc

speech.txt

# Environment variables
.env

# Vector database
chroma_db/

# Virtual environment
env/

# Python cache
__pycache__/
*.pyc

# VS Code temp files
tempCodeRunnerFile.py

# Jupyter checkpoints
.ipynb_checkpoints/